h1 {
    border: 2px solid #000000;
    background-color: #02562c;
    width: 95%;
    top: 0;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    position: fixed;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 60px 20px;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.studentNames {
    position: fixed;
    left: 0;
    top: 90px;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    padding: 15px;
    border-right: 2px solid black;
    background: white;
}

.sblock {
    padding: 10px;
    background: white;
    margin: 5px 0;
    border: 1px solid #171616;
    border-radius: 5px;
}

.studentDetails {
    margin-left: 350px;
    width: calc(100% - 350px);
    /* Here the Calc() function is subtracts 350px from full width 
        Allows dynamic calculations instead of manually adjusting sizes.
        Combines different units (%, px, rem, etc.).
        Reduces need for media queries in some cases.
        Improves responsiveness in layouts.*/
}

.student_card {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid #171616;
    border-radius: 15px;
    display: flex;
    align-items: right;
    gap: 20px;
    width: 500px;
}

.student_card img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.student_info {
    flex-grow: 1;
}